.input {
    display: block;
    width: 100%;
    padding: 1rem 0.875rem;

    font: inherit;
    letter-spacing: inherit;

    border: 0.0625rem solid var(--primary-color-opacity);
    border-radius: 0.5rem;
    background: var(--white-color);
    transition: border var(--base-transition-duration);

    @media (max-width: 767px) {
        padding: 0.75rem 0.625rem;
    }

    &--empty {
        color: var(--black-color-opacity);
    }

    &--error {
        border-color: var(--red-color);
    }

    &:hover {
        border-color: var(--primary-color);
    }

    &:focus {
        border-color: var(--primary-color-dark);
    }

    &__wrapper {
        position: relative;
        margin-bottom: 0;
        transition: margin var(--base-transition-duration);

        &--error {
            margin-bottom: 1rem;
        }
    }

    &__label {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translate(0, -50%);
        padding: 0 0.0625rem;

        font-size: 1rem;
        line-height: 1;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        border-radius: 0.25rem;
        background: var(--white-color);
        transition: all var(--base-transition-duration);

        &--lifted-up {
            top: 0;
            font-size: 0.75rem;
        }
    }

    &__helper-text {
        position: absolute;
    }
}
