.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0.75rem 1.125rem;

    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
    background-color: transparent;

    &--outlined {
        color: var(--text-secondary);
        border-color: var(--primary-color-opacity);

        &:hover {
            border-color: var(--primary-color-dark);
            background-color: var(--hover-color-secondary);
        }
    }

    &--contained {
        background: var(--primary-color);

        &:hover {
            border-color: var(--hover-color);
            background: var(--hover-color);
        }
    }

    &--big {
        padding: 1.125rem 1.5rem;
        border-radius: 1rem;
    }

    &:focus {
        outline: none;
        border-color: var(--primary-color-dark);
    }
}

.button__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 1.625rem;
        height: 1.625rem;
    }
}
