.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0.75rem 1.125rem;

    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
    background-color: transparent;

    &--outlined {
        color: var(--text-secondary);
        border-color: var(--primary-color-opacity);

        &:hover {
            border-color: var(--primary-color-dark);
            background-color: var(--hover-color-secondary);
        }
    }

    &--contained {
        background-color: var(--primary-color);

        &:hover {
            border-color: var(--hover-color);
            background-color: var(--hover-color);
        }
    }

    &--big {
        padding: 1.125rem 1.5rem;
        border-radius: 1rem;
    }

    &--loading {
        min-width: 110px;
        cursor: progress;
    }

    &:focus {
        outline: none;
        border-color: var(--primary-color-dark);
    }

    &--disabled,
    &--disabled:hover {
        color: var(--disabled-color-secondary);
        border-color: var(--disabled-color-secondary);
        background-color: var(--disabled-color);
        cursor: not-allowed;
    }

    &__loader {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
    }
}

.button__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 1.625rem;
        height: 1.625rem;
    }
}
