.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;

    svg {
        width: 2rem;
        height: 2rem;
    }

    &:hover {
        background-color: var(--primary-color-opacity);
    }

    &:focus {
        border: 1px solid var(--primary-color-dark);
        outline: none;
    }

    &:active {
        background-color: var(--hover-color-secondary);
    }

    &--disabled {
        cursor: not-allowed;

        &,
        &:hover {
            background-color: var(--disabled-color);
        }
    }
}
