$side-spacing: 1.25rem;
$side-spacing-md: 1rem;

.todo-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem $side-spacing 2.5rem;
    border-radius: 0.75rem;
    background-color: var(--primary-color-opacity);
    transition: background var(--base-transition-duration);

    @media (max-width: 1023px) {
        padding: 1.5rem $side-spacing-md 1.75rem;
    }

    @media (max-width: 767px) {
        padding-top: 1.375rem;
        padding-bottom: 1.625rem;
    }

    &--completed {
        background-color: var(--primary-color-opacity-200);
    }

    &__loading-indicator {
        position: absolute;
        bottom: 0.75rem;
        left: $side-spacing;
        right: $side-spacing;

        @media (max-width: 1023px) {
            bottom: 0.625rem;
            left: $side-spacing-md;
            right: $side-spacing-md;
        }

        @media (max-width: 767px) {
            bottom: 0.5rem;
        }
    }
}
