* {
    box-sizing: border-box;
    color: var(--text-color);
}

body {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
button {
    cursor: pointer;
    transition: all 250ms;
}
