:root {
    // colors
    // NOTE: should be synchronized with constants/colors.ts
    --primary-color: rgb(124, 191, 245);
    --primary-color-opacity: rgba(144, 202, 249, 0.5);
    --primary-color-dark: rgb(53, 157, 242);

    --hover-color: var(--primary-color-dark);
    --hover-color-secondary: rgba(144, 202, 249, 0.08);

    --white-color: rgb(235, 239, 243);
    --black-color: rgba(0, 0, 0, 0.7);

    --text-color: var(--black-color);
    --text-secondary: var(--primary-color-dark);

    // screenSizes
    // NOTE: should be synchronized with constants/screenSizes.ts
    --sm: 767px;
    --md: 1023px;
    --lg: 1439px;
}
