.todo-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;

    @media (max-width: 1023px) {
        gap: 1.5rem;
    }

    @media (max-width: 767px) {
        gap: 1.125rem;
    }

    &__clear-button-wrapper {
        display: flex;
        justify-content: flex-end;
    }
}
