$circle-space: 0.3125rem;
$circle-size: 1.5rem;
$circle-size-mobile: 1.25rem;
$circle-size-smaller: 1.375rem;
$circle-size-smaller-mobile: 1.125rem;

.toggler {
    position: relative;

    display: flex;
    width: 4.5rem;
    height: 2rem;

    border: 0.125rem solid transparent;
    border-radius: $circle-size;
    background: var(--primary-color-opacity);
    cursor: pointer;
    transition: border var(--base-transition-duration);

    @media (max-width: 767px) {
        width: 3.75rem;
        height: 1.75rem;
    }

    &__circle {
        position: absolute;
        top: 50%;
        left: $circle-space;

        width: $circle-size;
        height: $circle-size;
        transform: translateY(-50%);

        border-radius: 50%;
        background: var(--white-color);
        transition: all var(--base-transition-duration),
            left calc(var(--base-transition-duration) * 1.5) cubic-bezier(0.47, 1.64, 0.41, 0.8);

        @media (max-width: 767px) {
            width: $circle-size-mobile;
            height: $circle-size-mobile;
        }

        &--checked {
            left: calc(100% - #{$circle-size} - #{$circle-space} / 2);
            background: var(--primary-color-dark);
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__input:focus ~ &,
    &:hover {
        border-color: var(--primary-color-dark);

        .toggler__circle {
            width: $circle-size-smaller;
            height: $circle-size-smaller;

            @media (max-width: 767px) {
                width: $circle-size-smaller-mobile;
                height: $circle-size-smaller-mobile;
            }
        }
    }

    &__label {
        display: inline-flex;
        align-items: center;
        align-self: stretch;

        padding-left: 1rem;

        cursor: pointer;
    }
}
